body{
    margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: #ccc;

}


.div1{ 
    background-color: rgb(30, 56, 74);
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.div1 img {
    border-radius: 50%;
}
#meow {
    margin-right: auto ;
    margin-left: auto;
    width: 800px;
    border: 1px solid gray;
    background-color: white;
    padding: 40px;
    margin-top: 20px;

}
.paragraph {
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;

}
table th {
    background-color: #3498db;

}
th , td {
    padding: 10px;
    text-align: left;
}
th{
    color: white;
}
